.header-container {

    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: radial-gradient(#6a9eda, #3442ff);
    display: flex;
    flex-direction:row;
    z-index: 3;
}

.list-container {
    height: 100%;
    display: flex;
}

.list-container ul {
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
}

.list-item {
    height: 100%;
    float: left;
}

.list-item:hover {
    background-color: #494454;
}

.list-item a {
    height: 100%;
    display: block;
    color: #f6ebff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-icon {
    width: 1.3rem;
    height: 100%; 
    color: #f6ebff;
    align-self: center;
    font-size: 1.4rem;
    cursor: pointer;
    transition:  0.7s ease;
    margin-left: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon:hover{

    rotate: 180deg;

}

.divider{
    width: 1px;
    height: 80%;
   align-self: center;
   margin-left: 1.2rem;
    background-color: #f6ebff;
}

.header-page-title{
    color: #ffffff;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    align-self: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin-left: 1.2rem;
    cursor: default;
}

@media screen and (max-width : 1200px) {
  .header-icon{
    margin-left: 45%;
  }
}
@media screen and (max-width : 760px) {
  .header-icon{
    margin-left: 25%;
  }
}

@media screen and (max-width:600px) {
    
    .list-container{
        display: none;
    }
    .header-icon{
        align-self: center;
    }
    .divider{
        display: none;
    }
}
@media screen and (max-width : 250px) {
  .header-page-title{
    display: none;
  }
}
.active{
    color: black;
}