.post-container{

    width: 60%;
    height: max-content;
    border-radius: 0.8rem;
    background-image: linear-gradient(290deg, #02e49c, #007e4f); 
     /****/
     margin-top: 0.1rem;
     margin-left: 1rem;
     /****/ 
     border : 1px solid rgb(180, 180, 180);
}

.post-titel-btn{

    width: 100%;
    height: max-content;
    background-color: transparent;
    border: none;
    border-radius: 1.2rem;
    color: #f6ebff;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0.3rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

}
.post-titel-btn p{
    margin-bottom: 00.5rem;
}

.show-more-icon::after{
    content: "Show More ";
    color: white;
}

.post-expand{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.post-expand p{

    color: rgb(231, 231, 231);
    font-weight: bold;
    text-decoration: underline;
    margin-right: 1.2rem;
    margin-bottom: 0px;
    align-self: center;
}
.post-expand:nth-child(){
    align-self: center;
}

.post-details{
    width: 100%;
    height: 0px;
    transition: height 0.3s;
    margin-top: 0.5rem;
    color: white;
    overflow: hidden;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: default;
    background-color: #007e4f;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    box-sizing: border-box;
}
.post-details p{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    margin-top: 1.3rem;
}

.display-post {
    height:10rem;
}

.hide-post {
    height: 0px;   
}

