.sidenav-container {
    width: 65vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    z-index: 5;
    transition: width 0.5s ease-in-out;
    position: fixed;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}

.side-list-container {
    height: 100%;
    box-sizing: border-box;    
}

.side-list-container ul {
    width: 100%;
    height: max-content;
    list-style-type: none;
    margin-top: 3rem;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.active {
    color: reds;
}



.side-list-item {
    width: 100%;
    height: max-content;
    float: left;
}


#side-link-btn:hover{
    color: #ffffff;
}

#side-link-btn{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: block;
    color: gray;
    text-align: center;
    padding: 0.3rem;
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.disp-nav {
    width: 65vw;
    height: 100vh;
}

.hide-nav {
    width: 0px;
}

.side-list-item-close {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#side-close-icon {
    color: gray;
    font-size: 2rem;
    cursor: pointer;
    margin-right: 1.5rem;
}
#side-close-icon:hover {
    color: white;
}
.side-list-item button:hover{

    color: white;
}